@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: white;
}

header {
  text-align: center;
}

section#sign-in {
  background-image: url("/assets/login-bg.png");
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  text-align: center;
}
section#sign-in div.decline {
  margin: 100px;
}
section#sign-in div.decline p {
  margin-bottom: 20px;
}
section#sign-in div.decline a {
  color: black;
  text-decoration: none;
  border-radius: 5px;
  border: solid black 1px;
  padding: 10px;
  margin: 10px;
  margin-top: 40px;
}
section#sign-in div.decline a:hover {
  background-color: black;
  color: white;
}
section#sign-in form {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: rgba(237, 237, 237, 0.492);
  margin: 0px 50px 0px 50px;
  border-radius: 15px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#sign-in form p.small {
  margin: 0px 35vw 0px 5vw;
  color: rgba(96, 96, 96, 0.276);
  text-align: center;
}
section#sign-in form ::placeholder {
  color: black;
}
section#sign-in form button#submit {
  border: none;
  border-radius: 20px;
  height: 50px;
  width: 100px;
  margin: 10px;
  color: white;
  background-color: #db7fff;
  cursor: pointer;
}
section#sign-in form button#submit:hover {
  background-color: #cd63f6;
}
section#sign-in form input {
  height: 50px;
  width: 400px;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 50px;
  border: black 0.5px solid;
  text-align: center;
  padding: 10px;
}
section#sign-in form label {
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
}
section#sign-in form input#name:after {
  content: "Please do not use your real name";
  position: absolute;
}

.badge-new:after {
  content: "new!";
  background-color: red;
  color: white;
  font-size: 0.5em;
  padding: 2px;
  border-radius: 5px;
  position: absolute;
  margin-left: 2px;
  display: none;
}

.badge-soon:after {
  content: "coming";
  background-color: rgb(255, 204, 0);
  color: white;
  font-size: 0.5em;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  margin-left: 2px;
  display: none;
}

div.all {
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0px 5vw 0px 5vw;
  height: 0px;
  gap: 0px;
}
div.all section#side div.welcome {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  justify-items: center;
  background: linear-gradient(to bottom, rgba(0, 170, 255, 0.6), rgba(219, 127, 255, 0.6));
  background-repeat: no-repeat;
  padding: 20px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}
div.all section#side div.welcome img {
  border-radius: 50%;
  margin: 0px auto 0px auto;
  width: 11vw;
  padding: 0 10px 0 0;
}
div.all section#side div.welcome h2 {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  color: white;
}
div.all section#side div.welcome p {
  color: white;
}
div.all section#side div.welcome:hover {
  transform: scale(1.01);
  transition: 0.5s;
}
div.all section#side div.welcome i.edit-icon {
  font-size: 2em;
  color: white;
  margin: 10px;
  position: absolute;
}
div.all div.explore {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;
}
div.all div.explore ul {
  list-style: none;
  padding: 0;
}
div.all div.explore ul li {
  margin: 20px;
}
div.all div.explore ul li a {
  text-decoration: none;
  color: black;
  background-color: #efefef;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  transition: 0.5s;
  cursor: pointer;
  display: block;
}
div.all div.explore ul li a:hover, div.all div.explore ul li .active {
  background-color: #e7e7e7;
  transform: scale(1.1);
  transition: 0.5s;
}
div.all div.explore ul li .active:hover {
  transform: scale(1);
  transition: 0.5s;
  background-color: #efefef;
}
div.all section#main {
  margin: 10px 0px 10px 20px;
}
div.all section#main div.notifs {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  transition: width 1s;
  margin-bottom: 20px;
}
div.all section#main div.notifs i#notifs-icon {
  font-size: 3em;
  color: #00aaff;
  animation: color-blue-pink-move 10s alternate infinite, shake 1s infinite alternate;
}
div.all section#main div.notifs i#notifs-close {
  position: absolute;
  right: 140px;
  cursor: pointer;
  font-size: 1.5em;
}
div.all section#main div.notifs h2 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
div.all section#main div.notifs a.notifs-button {
  text-decoration: none;
  color: #db7fff;
  border: #db7fff solid 1px;
  padding: 15px;
  border-radius: 5px;
  transition: 0.2s;
}
div.all section#main div.notifs a.notifs-button:hover {
  background-color: #db7fff;
  color: white;
  transition: 0.2s;
  border: #db7fff solid 1px;
}
div.all div.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  transition: 1s;
}
div.all div.grid div {
  background-color: #f8f8f8;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  border-radius: 15px;
  transition: width 1s;
}
div.all div.grid div.todos {
  margin-right: 20px;
}

@keyframes color-blue-pink-move {
  0% {
    color: #00aaff;
  }
  100% {
    color: #db7fff;
  }
}
@keyframes shake {
  0% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
div.modal-todos {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  margin: 0;
  padding: 0;
  z-index: 10;
}
div.modal-todos div.content {
  background-color: rgba(255, 255, 255, 0.386);
  margin: 5vw;
  padding: 10vw 2vw 10vw 2vw;
  border-radius: 15px;
  border: 2px white solid;
  color: white;
  transition: 0.5s;
}
div.modal-todos div.content h2 {
  font-size: 3em;
}
div.modal-todos div.content p {
  font-size: 1.5em;
}
div.modal-todos div.content button {
  border: none;
  border-radius: 10px;
  padding: 1vw;
  font-size: 1.5em;
  background-image: linear-gradient(45deg, #de71ff, #fc63ff);
  transition: 0.2s;
  color: white;
  cursor: pointer;
}
div.modal-todos div.content button:hover {
  background-image: linear-gradient(45deg, #9b40b6, #cd50cf);
  transform: scale(1.1);
  transition: 0.2s;
}

section#main-todos {
  text-align: center;
  margin: 10px 0px 10px 20px;
}
section#main-todos div.todos {
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 15px;
}
section#main-todos div.todos form {
  display: flex;
  justify-content: center;
}
section#main-todos div.todos form input#new-todo {
  border: none;
  padding: 20px;
  width: 45vw;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}
section#main-todos div.todos form input#search-todos {
  margin: 10px;
  border: none;
  padding: 20px;
  width: 700px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}
section#main-todos div.todos div.todos-here {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#main-todos div.todos div.todos-here ul {
  list-style: none;
  padding: 0;
  margin: 10px 0px 20px 0px;
  text-align: center;
}
section#main-todos div.todos div.todos-here ul li {
  background-color: #f0f0f0;
  padding: 20px 10px 20px 10px;
  width: 45vw;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  h1:after {
    display: none;
  }
  div.all {
    display: block;
    gap: 0px;
  }
  div.all div.explore {
    display: flex;
    justify-content: center;
  }
  div.all div.explore ul {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    margin: 0px 10px 30px 10px;
  }
  div.all div.explore ul li {
    margin: 0;
  }
  div.all div.explore ul li a {
    margin: 0;
    border-radius: 0px;
    font-size: 3.5vw;
  }
  div.all div.explore ul li:after {
    display: none;
  }
  div.all div.explore ul a.mobile-left {
    border-radius: 20px 0px 0px 20px;
  }
  div.all div.explore ul a.mobile-right {
    border-radius: 0px 20px 20px 0px;
  }
  section#side {
    margin: 0;
    padding: 0;
  }
  section#side div.welcome {
    margin: 0;
    padding: 0;
  }
  section#side div.explore {
    margin: 0;
    padding: 0;
  }
  section#main {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-right: 2.5vw;
  }
  section#main div.grid {
    padding: 0;
    margin: 0;
  }
}
.delete {
  cursor: pointer;
  float: right;
  margin-right: 0.2vw;
}

.filtered {
  display: none !important;
}/*# sourceMappingURL=style.css.map */